@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
}

.region-map {
  z-index: 5;
}

.region-map .leaflet-top.leaflet-left {
  display: none !important;
}

#btnQuitRoute {
  -webkit-box-shadow: 10px 5px 5px #6b6b6b;
          box-shadow: 10px 5px 5px #6b6b6b;
  position: fixed;
  right: 0;
  top: 30vh;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #408ecf;
  border: #69a6d9;
  height: 5vw;
  width: 10vw;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  font-size: calc(1vw + 15px);
  z-index: 15;
  cursor: pointer;
}

#btnQuitRoute:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  #btnQuitRoute {
    height: 20vw;
    width: 25vw;
    right: -35px;
  }
  #btnQuitRoute:focus {
    right: 0;
  }
}

.region-content-perfil {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 95%;
  height: 100vh;
}

.region-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region-content .region-sidebar {
  width: 5%;
  height: 100vh;
  background-color: black;
}

.region-content .with-region-map,
.region-content .region-content-perfil {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 95%;
  height: 100vh;
}

.region-content .with-region-map {
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .region-content .with-region-map {
    margin-top: 10vh;
  }
}

.region-content .with-region-map .region-map {
  z-index: 5;
  width: 100%;
  height: 100vh;
}

.region-content .with-region-map .filtros-mapa {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.region-content .with-region-map .filtros-mapa img {
  max-width: 5vw;
}

@media (max-width: 768px) {
  .region-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .region-content .region-sidebar {
    width: 100vw;
    height: 10vh;
  }
  .region-content .with-region-map {
    width: 100vw;
    height: 90vh;
  }
}

.leaflet-popup-pane .leaflet-popup-content-wrapper {
  width: 82vw;
}

.leaflet-popup-pane .leaflet-popup-content-wrapper .leaflet-popup-content {
  width: auto;
}

.leaflet-popup-pane .leaflet-popup-content-wrapper .leaflet-popup-content > div img {
  width: 100%;
  border-radius: 5px;
}

.leaflet-popup-pane .leaflet-popup-content-wrapper .leaflet-popup-content > div .botones-ubicacion {
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leaflet-popup-pane .leaflet-popup-content-wrapper .leaflet-popup-content > div .botones-ubicacion button {
  background-color: #ffffff;
  border: 2px solid #408ecf;
  border-radius: 50px;
  color: #408ecf;
  padding: 3vw;
}

.wrapper {
  width: 100%;
  margin-top: 10px;
}

.wrapper .carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-item > div {
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 10px;
  padding: 3vw;
  position: relative;
}

.owl-item input {
  opacity: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.owl-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(1vw + 10px);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333333b2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.modal .modalBox {
  position: relative;
  min-height: 60vh;
  min-width: 80vw;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  border-radius: 4px;
}

.modal .modalBox .cerrar-modal {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 2vw;
  height: 2vw;
}

.modal .modalBox .cerrar-modal i {
  color: #13232f;
  font-size: 20px;
}

@media (max-width: 768px) {
  .modal .modalBox .cerrar-modal {
    top: 3vw;
    right: 3vw;
    width: 6vw;
    height: 6vw;
  }
}

@media (max-width: 768px) {
  .modal .modalBox {
    height: 80vh;
    overflow-y: scroll;
    margin-top: 10vh;
  }
}

.modal .modalBox .titulo-modal-div {
  margin-top: 30px;
  padding: 30px;
}

@media (max-width: 768px) {
  .modal .modalBox .titulo-modal-div {
    padding: 0 !important;
  }
}

.modal .modalBox .titulo-modal-div .titulo-modal,
.modal .modalBox .titulo-modal-div .subtitulo-modal {
  text-align: center;
}

.modal .modalBox .titulo-modal-div .titulo-modal span,
.modal .modalBox .titulo-modal-div .subtitulo-modal span {
  color: #69a6d9;
}

.modal .modalBox .contenido-modal {
  height: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal .modalBox .contenido-modal .btn-etiqueta {
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal .modalBox .contenido-modal {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .modal .modalBox .contenido-modal > div {
    width: 100% !important;
  }
  .modal .modalBox .contenido-modal .modal-first {
    height: 50% !important;
  }
  .modal .modalBox .contenido-modal .modal-second {
    height: 50% !important;
  }
  .modal .modalBox .contenido-modal .modal-second h2 {
    margin: 0 !important;
  }
  .modal .modalBox .contenido-modal .modal-second .btn-etiqueta {
    margin: 0 !important;
    cursor: pointer;
  }
  .modal .modalBox .contenido-modal .modal-second form.form-create-tag {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

.modal .modalBox .contenido-modal .modal-first {
  padding: 0 20px;
  width: 50%;
  max-height: 40vh;
  overflow-y: scroll;
}

.modal .modalBox .contenido-modal .modal-first .sticky {
  background-color: #ffffff !important;
  z-index: 1;
}

.modal .modalBox .contenido-modal .modal-first h3 {
  text-align: center;
}

.modal .modalBox .contenido-modal .modal-first .contenido {
  max-height: inherit;
  padding: 20px 0;
}

.modal .modalBox .contenido-modal .modal-first .contenido .item {
  border: 1px solid black;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.modal .modalBox .contenido-modal .modal-first .contenido .item.equipo button {
  cursor: pointer;
  background-color: #ffffff !important;
  border: none;
}

.modal .modalBox .contenido-modal .modal-first .contenido .item.equipo button:hover {
  background-color: #f1f1f1 !important;
}

.modal .modalBox .contenido-modal .modal-first .contenido .item .item-click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modalBox .contenido-modal .modal-first .contenido .item .nombre-item {
  width: 80%;
}

.modal .modalBox .contenido-modal .modal-first .contenido .item .boton-item {
  position: relative;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modalBox .contenido-modal .modal-first .contenido .item .boton-item input {
  width: 5vw;
  height: 5vw;
  border: none;
  color: red;
  font-size: 20px;
  opacity: 0;
}

.modal .modalBox .contenido-modal .modal-first .contenido .item .boton-item .icono-eliminar {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  color: red;
  top: 0;
  right: 1vw;
  width: 3vw;
  height: 3vw;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: #ffffff;
}

.modal .modalBox .contenido-modal .modal-first .contenido .item .boton-item .icono-eliminar:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal .modalBox .contenido-modal .modal-first .contenido .item .boton-item .icono-iniciar {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  color: blue;
  top: 0;
  right: 1vw;
  width: 3vw;
  height: 3vw;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: #ffffff;
}

.modal .modalBox .contenido-modal .modal-first .contenido .item .boton-item .icono-iniciar:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal .modalBox .contenido-modal .modal-second {
  height: 100%;
  padding: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.modal .modalBox .contenido-modal .modal-second form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.modal .modalBox .contenido-modal .modal-second form h2 {
  margin: 30px;
}

.modal .modalBox .contenido-modal .modal-second form .nombre-etiqueta-crear {
  width: 100%;
  padding: 20px;
  font-size: 15px;
}

.modal .modalBox .contenido-modal .modal-second form .btn-etiqueta {
  margin: 30px 0;
  background-color: #69a6d9;
  width: 80%;
  border: none;
  color: #ffffff;
  padding: 20px;
  font-size: 15px;
}

.modal .modalBox .contenido-modal .modal-second form .btn-etiqueta:hover {
  background-color: #408ecf;
}

.modal .modalBox .contenido-modal .form-mod-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modalBox .contenido-modal .form-mod-perfil input,
.modal .modalBox .contenido-modal .form-mod-perfil button {
  width: 50vw !important;
  padding: 1vw !important;
  margin: 1vw !important;
}

.modal .modalBox .contenido-modal .form-mod-perfil button {
  margin: 30px 0;
  background-color: #69a6d9;
  border: none;
  color: #ffffff;
  padding: 20px;
  font-size: 15px;
}

.modal .modalBox .contenido-modal .form-mod-perfil button:hover {
  background-color: #408ecf;
}

@media (max-width: 768px) {
  .modal .modalBox .contenido-modal .form-mod-perfil {
    gap: 10vw;
  }
  .modal .modalBox .contenido-modal .form-mod-perfil input,
  .modal .modalBox .contenido-modal .form-mod-perfil button {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .modal .modalBox .contenido-modal .form-abandonar-equipo {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.modal .modalBox .contenido-modal .form-abandonar-equipo input {
  background-color: #d62d2d !important;
}

.modal .modalBox .form-contra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modalBox .form-contra button,
.modal .modalBox .form-contra input {
  width: 50vw;
  padding: 20px;
}

.modal .modalBox .form-contra button {
  margin: 30px 0;
  background-color: #69a6d9;
  border: none;
  color: #ffffff;
  padding: 20px;
  font-size: 15px;
}

.modal .modalBox .form-contra button:hover {
  background-color: #408ecf;
}

.expanded {
  width: 300px !important;
}

@media (max-width: 768px) {
  .expanded {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 15 !important;
  }
}

.expanded nav {
  height: auto !important;
}

.btn-burger {
  position: relative;
  padding: 10px;
}

@media (max-width: 768px) {
  .btn-burger {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.btn-burger button {
  cursor: pointer;
  background: transparent;
  color: white;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 28px;
}

.region-sidebar {
  z-index: 20;
  position: relative;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  /* Estilo del boton cuando el menú está expandido*/
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
}

@media (max-width: 768px) {
  .region-sidebar {
    position: fixed;
    top: 0;
  }
  .region-sidebar nav {
    height: 100%;
  }
}

.region-sidebar input:checked ~ ul {
  display: block;
}

.region-sidebar input {
  display: none;
}

.region-sidebar .btn-burger label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.region-sidebar input:checked ~ label {
  background: lightgrey;
}

.region-sidebar ul {
  margin-top: 0;
  padding: 0;
}

.region-sidebar li {
  text-align: center;
  display: block;
  background: transparent;
  margin: 0 20px;
  padding: 10px;
  list-style: none;
  border: 1px solid black;
  margin: 0;
}

.region-sidebar li.sidebar-logout {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .region-sidebar li.sidebar-logout {
    bottom: 20vh;
  }
}

.region-sidebar li:hover {
  background: #2981ca;
}

.region-sidebar .form-sidebar button {
  background: none;
  border: none;
  color: white;
  font-size: 21px;
  width: 100%;
  height: 100%;
}

.page-login,
.page-perfil {
  background: url("https://wallpapercave.com/wp/wp4313180.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .page-login,
  .page-perfil {
    background-size: 350vw 150vh;
  }
}

.page-login .content-login,
.page-perfil .content-login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .page-login .content-login {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30vh;
  }
}

.form {
  min-width: min(600px, 90vw);
  max-width: min(600px, 90vw);
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  margin: 40px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.form .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

@media (max-width: 768px) {
  .form .tab-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form .tab-group a {
    width: 100% !important;
  }
  .form .tab-group li {
    width: 64%;
  }
}

@media (max-width: 768px) {
  .form .tab-content .field-wrap {
    width: 100% !important;
  }
}

.form .tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.form .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.form .tab-content > div:last-child {
  display: none;
}

.form h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

.form label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

.form label .req {
  margin: 2px;
  color: #2067a1;
}

.form label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

.form label.active .req {
  opacity: 0;
}

.form label.highlight {
  color: #ffffff;
}

.form input,
.form textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}

.form textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.form .field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.form .top-row:after {
  content: "";
  display: table;
  clear: both;
}

.form .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.form .top-row > div:last-child {
  margin: 0;
}

.form .button-block {
  display: block;
  width: 100%;
}

.form .forgot {
  margin-top: -20px;
  text-align: right;
}

.form a {
  text-decoration: none;
  color: #a0b3b0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.form a:hover {
  color: white;
}

.form .tab-group .active a {
  background: #69a6d9;
  color: #ffffff;
}

.form .tab-group li a:hover {
  background: #2067a1;
  color: #ffffff;
}

.form .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #69a6d9;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
}

.form .button:hover,
.form .button:focus {
  background: #2067a1;
}

.region-content-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .region-content-perfil {
    height: 90vh !important;
    margin-top: 20vh !important;
  }
}

.region-content-perfil .perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 80vw;
  background-color: rgba(19, 35, 47, 0.9);
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  min-height: 70vh;
  border-radius: 4px;
}

.region-content-perfil .perfil > div {
  padding: 20px;
}

.region-content-perfil .perfil .perfil-foto {
  position: absolute;
  top: -30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .region-content-perfil .perfil .perfil-foto {
    top: -30vw;
  }
}

.region-content-perfil .perfil .perfil-foto .foto-perfil {
  border-radius: 50%;
  max-width: min(20vw, 200px);
}

@media (max-width: 768px) {
  .region-content-perfil .perfil .perfil-foto .foto-perfil {
    max-width: min(32vw, 200px);
  }
}

.region-content-perfil .perfil .perfil-datos {
  text-align: center;
  color: white;
}

.region-content-perfil .perfil .perfil-datos .equipo-usuario {
  color: #69a6d9 !important;
}

.region-content-perfil .perfil .perfil-opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.region-content-perfil .perfil .perfil-opciones button {
  cursor: pointer;
  background-color: #69a6d9;
  border: none;
  color: white;
  padding: 20px;
  font-size: 20px;
}

.region-content-perfil .perfil .perfil-opciones button:hover {
  background-color: #408ecf;
}

@media (max-width: 768px) {
  .region-content-perfil .perfil .perfil-opciones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .region-content-perfil .perfil .perfil-opciones .opcion button {
    min-width: 50vw;
  }
}
/*# sourceMappingURL=mainstyle.css.map */