@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.region-map,
.region-content-perfil {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 95%;
  height: 100vh;
}

.region-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region-sidebar {
  width: 5%;
  height: 100vh;
  background-color: black;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333333b2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.modal .modalBox {
  min-height: 60vh;
  min-width: 80vw;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  border-radius: 4px;
}

.modal .modalBox .titulo-modal {
  padding: 30px;
}

.modal .modalBox .contenido-modal {
  height: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal .modalBox .contenido-modal .lista-etiquetas {
  padding: 20px;
  width: 50%;
  max-height: 40vh;
  overflow-y: scroll;
}

.modal .modalBox .contenido-modal .lista-etiquetas .etiqueta {
  border: 1px solid black;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modalBox .contenido-modal .lista-etiquetas .etiqueta .nombre-etiqueta {
  width: 80%;
}

.modal .modalBox .contenido-modal .lista-etiquetas .etiqueta .eliminar-etiqueta {
  width: 20%;
}

.modal .modalBox .contenido-modal .lista-etiquetas .etiqueta .eliminar-etiqueta input {
  width: 5vw;
  height: 5vw;
  border: none;
  color: red;
  font-size: 20px;
}

.modal .modalBox .contenido-modal .crear-etiqueta {
  height: 100%;
  padding: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.modal .modalBox .contenido-modal .crear-etiqueta form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.modal .modalBox .contenido-modal .crear-etiqueta form h2 {
  margin: 30px;
}

.modal .modalBox .contenido-modal .crear-etiqueta form .nombre-etiqueta-crear {
  width: 100%;
  padding: 20px;
  font-size: 15px;
}

.modal .modalBox .contenido-modal .crear-etiqueta form .btn-etiqueta {
  margin: 30px 0;
  background-color: #69a6d9;
  width: 80%;
  border: none;
  color: #ffffff;
  padding: 20px;
  font-size: 15px;
}

.modal .modalBox .contenido-modal .crear-etiqueta form .btn-etiqueta:hover {
  background-color: #559ad4;
}

.expanded {
  width: 300px;
}

.btn-burger {
  position: relative;
  padding: 10px;
}

.btn-burger button {
  cursor: pointer;
  background: transparent;
  color: white;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 28px;
}

.region-sidebar {
  position: relative;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  /* Estilo del boton cuando el menú está expandido*/
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
}

.region-sidebar input:checked ~ ul {
  display: block;
}

.region-sidebar input {
  display: none;
}

.region-sidebar .btn-burger label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.region-sidebar input:checked ~ label {
  background: lightgrey;
}

.region-sidebar ul {
  margin-top: 0;
  padding: 0;
}

.region-sidebar li {
  text-align: center;
  display: block;
  background: transparent;
  margin: 0 20px;
  padding: 10px;
  list-style: none;
  border: 1px solid black;
  margin: 0;
}

.region-sidebar li.sidebar-logout {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  margin: 0;
}

.region-sidebar li:hover {
  background: #2981ca;
}

.region-sidebar .form-sidebar button {
  background: none;
  border: none;
  color: white;
  font-size: 21px;
}

.page-login,
.page-perfil {
  overflow: hidden;
  background: url("https://wallpapercave.com/wp/wp4313180.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-login .content-login,
.page-perfil .content-login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  min-width: min(600px, 90vw);
  max-width: min(600px, 90vw);
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  margin: 40px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.form .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

@media (max-width: 768px) {
  .form .tab-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form .tab-group a {
    width: 100% !important;
  }
  .form .tab-group li {
    width: 64%;
  }
}

@media (max-width: 768px) {
  .form .tab-content .field-wrap {
    width: 100% !important;
  }
}

.form .tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.form .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.form .tab-content > div:last-child {
  display: none;
}

.form h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

.form label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

.form label .req {
  margin: 2px;
  color: #2067a1;
}

.form label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

.form label.active .req {
  opacity: 0;
}

.form label.highlight {
  color: #ffffff;
}

.form input,
.form textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}

.form textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.form .field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.form .top-row:after {
  content: "";
  display: table;
  clear: both;
}

.form .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.form .top-row > div:last-child {
  margin: 0;
}

.form .button-block {
  display: block;
  width: 100%;
}

.form .forgot {
  margin-top: -20px;
  text-align: right;
}

.form a {
  text-decoration: none;
  color: #a0b3b0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.form a:hover {
  color: white;
}

.form .tab-group .active a {
  background: #69a6d9;
  color: #ffffff;
}

.form .tab-group li a:hover {
  background: #2067a1;
  color: #ffffff;
}

.form .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #69a6d9;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
}

.form .button:hover,
.form .button:focus {
  background: #2067a1;
}

.region-content-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.region-content-perfil .perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70vw;
  background-color: rgba(19, 35, 47, 0.9);
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  min-height: 60vh;
  border-radius: 4px;
}

.region-content-perfil .perfil > div {
  padding: 20px;
}

.region-content-perfil .perfil .perfil-foto {
  position: absolute;
  top: -100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.region-content-perfil .perfil .perfil-foto .foto-perfil {
  border-radius: 50%;
  max-height: min(20vw, 200px);
  max-width: min(20vw, 200px);
}

.region-content-perfil .perfil .perfil-datos {
  text-align: center;
  color: white;
}

.region-content-perfil .perfil .perfil-opciones button {
  cursor: pointer;
  background-color: #69a6d9;
  border: none;
  color: white;
  padding: 20px;
  font-size: 20px;
}

.region-content-perfil .perfil .perfil-opciones button:hover {
  background-color: #559ad4;
}
/*# sourceMappingURL=mainstyle.css.map */